$shadow: 0 0 10px rgba(0,0,0,0.5);
$border-base: 1px solid rgb(141, 141, 141);

.search__form{
  width: 70vw;
  box-shadow: $shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 30px;
}

.search__form__input{
  width: 80%;
  height: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: $shadow;
  border-radius: 3px;
  padding: 5px;
}

.search__form__list{
  list-style: none;
  width: 80%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search__form__item{
  border: $border-base;
  margin: 10px 0 10px 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 180px;
}

.search__form__item-error{
  @extend .search__form__item;
  color: red;
}

.error{
  color: red;
}

.search__form__item__icon{
  width: 140px;
  margin: 0 10px 0 10px;
  padding-left: 5px;
  display: inline-block;
}

.search__form__item__link{
  width: 20vw;
  padding: 10px;
}